<div class="row">
  <div class="col-xs-12">
    <img [ngSrc]="recipe.imagePath" alt="recipe.name" class="img-responsive" height="50" width="50">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe <span
        class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Add Ingredients to shopping list</a>
          <a href="#">Edit recipe</a>
          <a href="#">Delete recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
